---
import { getArticlesSorted } from "@common/articles";
import ArticleListing from "@components/ArticleListing.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const articles = await getArticlesSorted();
const title = "Articles";
---

<BaseLayout {title} description="List of all articles">
  <h1>{title}</h1>
  <ArticleListing {articles} />
</BaseLayout>
