---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="Not Found">
  <h1>Not Found</h1>
  <hr />
  <p>The specified path was not found.</p>
</BaseLayout>
