---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About aidansun.com">
  <h1>About</h1>
  <hr />
  <p>This website hosts my Arduino libraries and other projects and resources that I have created.</p>
  <h2>Code</h2>
  <p>This website is built with:</p>
  <ul>
    <li>Astro (backend)</li>
    <li>Vue.js (frontend)</li>
    <li>Nginx (server)</li>
    <li>Docker (deployment)</li>
    <li>DigitalOcean (hosting)</li>
  </ul>
  <p>
    This website is open source on <a href="https://github.com/AidanSun05/website/">GitHub</a> under the MIT license.
  </p>
</BaseLayout>
