---
import ArticleListing from "@components/ArticleListing.astro";
import { getArticlesSorted } from "@common/articles";
import BaseLayout from "@layouts/BaseLayout.astro";

// Take 5 most recent articles
const articles = (await getArticlesSorted()).slice(0, 5);
---

<BaseLayout title="Home" description="Home page for aidansun.com">
  <h1>Home</h1>
  <h2>Recent Articles</h2>
  <p><a href="/articles/">View all</a></p>
  <ArticleListing {articles} />
</BaseLayout>
