<div class="quote-container">
  <blockquote>
    <slot />
  </blockquote>
</div>

<style>
  .quote-container {
    border-left: 4px solid #555;
    padding: 2px 0;

    blockquote {
      margin-left: 10px;
    }
  }
</style>
